body
{
    font-family: Arial, sans-serif;
    background-image: url(fondos\ de\ el\ juego.jfif);
    background-size: cover;
    background-position: center;
}

#game
{
    position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
    background-image: url(plaza.jfif);
    background-size: cover;
    background-position: center;
    border: 3px solid #000000;
    overflow: hidden;
}

.player
{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: linear-gradient(135deg, #6ec6ff, #f6f7f8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.player span{
    position: absolute;
    top: -15px;
    font-size: 10px;
    background: white;
    padding: 1px 5px;
    border-radius: 6px;
}

h2
{
    color: rgb(255, 254, 254);
    background-position: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


