body
{
    font-family: Arial, sans-serif;
    background-color: #acf795;
}

#game
{
    position: relative;
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: #fff;
    border: 3px solid #000000;
    overflow: hidden;
}

.player
{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #4da6ff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 12px;
}